body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url('https://i.ytimg.com/vi/qcOg2biaH3w/maxresdefault.jpg')
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .actionButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius: 10px;
  position:absolute;
}
.funkyDancer {
  border:10px solid purple;
  border-radius: 0px;
  position:absolute;
}
.rotate45Deg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.transform {
  border:20px solid yellow;
}
.transparent {
  opacity: 0.1;
}
span:hover {
  border: 50px solid;
}
.taylorDancer:hover {
  border: 0;
}
.taylorDancer {
  position: absolute;
}
